
* {
    font-size: 16px;
}

nav {
    padding-right: 8%;
    padding-left: 8.5%;
}

img {
    z-index: 1100;
    width: 7%;
    margin: 0 1.5%;
}

input{
    width: 90%;
}

.alert{
    position: absolute;
    text-align: center;
    z-index: 1100;
    padding: 5%;
    margin-top: 10%;
}

.red{
    color: #FF0000;
    font-weight: bold;
}

#signin{
    margin: 8% 0;
}

#signinForm{
    width: 50%;
    margin: 0 auto;
}

#createUsers{
    margin: 7% 0 4% 0;
}

h1{
    float: left;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #FF00FF;
    padding: 1% 2%;
    margin: 0 0 5% 0;
}

h2{
    width: 80%;
    margin: 0 auto;
}

h3 {
    float: left;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #669900;
    padding: 1% 2%;
    margin: 0 0 2% 0;
}

h4{
    font-size: 24px;
    text-align: center;
    padding-top: 2%;
}

h4.left{
    text-align: left;
}

.large{
    font-size: 24px;
}

.form-signin{
    margin-top: 3%;
}

.form-signin-add-user{
    width: 80%;
    margin: 3% auto 0 auto;
}

.btn-green, .btn-primary{
    background: #669900;
    border-color: #669900;
}

.btn-primary:hover, .btn-green:hover{
    background: #476B00;
    border-color: #476B00;
}

.active p.navbar-text{
    color: #669900;
    font-weight: bold;
}

nav a {
    font-weight: bold;
}

a.menu{
    color: #4D4D4D;
    text-decoration: none;
}

a.menu:hover, a.menu:active, a.menu:focus{
    color: #000;
    cursor: pointer;
}

p.bodyP {
    width: 65%;
    margin: 1% auto;
}

.buttons{
    width: 70%;
    margin: 2% auto 5% auto;
}

footer{
    float: left;
    width: 100%;
    height: 200px;
    background-color: #333;
    padding: 8%;
}

p.footer {
    color: #669900;
    width: 90%;
    margin: 0 auto;
}

footer a{
    color: fuchsia;
}

#main_container{
    width: 100%;
    float: left;
    background-color: #E0EBCC;
    z-index: -1;
}


.list-group-item {
    width: 100%;
}

.right_div {
    float: left;
    background-color: #ffffff;
    width: 75%;
    border: 0;
    margin: 5% 4% 5% 3%;
}

.input{
    width: 60%;
    background-color: #DEDEDE;
    padding: 0;
    border: 0;
    margin: 2% auto;
}

.form{
    width: 80%;
    padding-bottom: 5%;
    border: 0;
    margin: 5% auto;
}

.main_view {
    float: left;
    width: 82%;
    padding-top: 6%;
}

.info{
    width: 90%;
    padding: 0;
    border: 0;
    margin: 0 auto;
}

.bg-success{
    text-align: center;
    padding: 1% 0;
}

p.center {
    width: 100%;
    text-align: center;
}

